html {
    border: solid black 1px;
}

body{
    background-color: blue;
}

.login-container{
    background-color: yellow;
    min-width:50vw;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: inherit;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid black 1px;
    width: 50%;
    height: 50%;
}

.login_box {
    
}

.login {
}